
@import url(blocks/slider.css);
@import url(blocks/nav_block.css);
@import url(blocks/about_block.css);
@import url(blocks/experience_block.css);
@import url(blocks/info_block.css);
@import url(blocks/prlx_block.css);
@import url(blocks/gallery_block.css);
@import url(blocks/feedback_block.css);
@import url(blocks/footer_block.css);
@import url(blocks/up-btn_block.css);
@import url(blocks/mobile_menu.css);

@import url(blocks/media_screen_block.css);



body{
    margin: 0;
    padding: 0;
    font-family: Avian;
    color: white;
}
header{

}
.about{
    background: #1d1d1d;
    min-height: 490px;
}
.experience{
    min-height: 1000px;
}
.info{
    background: #1d1d1d;
    min-height: 490px;
    overflow: hidden;
}
.parallax{
    min-height: 600px;
}
.gallery{
    max-height: 900px;
    width: 100%;
    background: #1d1d1d;
}
.feedback{
    min-height: 600px;
    overflow: hidden;
}
.footer{
    min-height: 80px;
    background: #1d1d1d;
}
