@media screen and (max-width: 1810px) {
    .gallery{
        max-height: 700px !important;
    }
}
@media screen and (max-width: 1420px) {
    .gallery{
        max-height: 550px !important;
    }
}
@media screen and (max-width: 1200px) {
    .gallery{
        max-height: 450px !important;
    }
    .prlx img{
        top: 60px;
        width: 110%;
    }
    .parallax {
        min-height: 525px !important;
    }
    .slider__text-p{
        display: none;
    }
}
@media screen and (max-width: 994px) {
    .navbar-toggler{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .slider__promo{
        top: 210px !important;
        width: 100% !important;
    }
    .carousel-indicators{
        display: none;
    }
    .slider__promo>h1{
        font-size: 45px;
    }
    .prlx img{
        top: 25px;
        width: 160%;
    }
    .gallery>.flex-nowrap{
        flex-wrap: wrap !important;
    }
    .gallery {
        max-height: 2100px !important;
    }
    .gallery__block-wrap1{
        min-width: 100%;
    }
    .gallery__block-wrap2{
        min-width: 100%;
    }
}
@media screen and (max-width: 760px){
    .nav__container{
        padding-top: 2px;
        padding-left: 2px;
    }
    .slider__promo {
        top: 133px !important;
    }
    .parallax {
        min-height: 435px !important;
    }
}

@media screen and (max-width: 540px) {
    .nav__text-name {
        font-size: 13px;
        font-weight: 600;
    }
    .slider__promo {
        top: 60px !important;
    }
    body h6{
        font-size: 14px !important;
    }
    body h4{
        font-size: 14px !important;
    }
    body h3 {
        font-size: 18px !important;
    }
    body h1 {
        font-size: 26px !important;
    }
    body p{
        font-size: 15px !important;
    }
    .experience__block {
        min-height: 160px;
    }
    .progress{
        height: 14px;
        max-width: 145px;
    }
    .prlx__text-p {
        line-height: 23px;
        letter-spacing: 1px;
    }
    .parallax {
        min-height: 270px !important;
    }
    .prlx img {
        top: 0;
        width: 241%;
    }
    .experience {
        min-height: 940px !important;
    }
}