.nav__container{
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
.nav__text-name{
    font-size: 28px;
    font-weight: 600;
}
.nav__text-a{
    font-size: 20px;
    font-weight: 600;
}
.nav__text-a-active{
    font-size: 20px;
    font-weight: 600;
}
.nav__text-a-active:after {
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    background-color: white;
}
.nav__text-a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0;
    background-color: white;
    transition: width .4s ease-in-out;
}
.nav__text-a:hover:after,
.nav__text-a:focus:after{
    width: 100%;
}
.dropdown-toggle:after{
     margin-left: 0;
     border-top: 0;
     border-right: 0;
     border-bottom: 0;
     border-left: 0;
}
.nav__drdw-menu{
    background: #1d1d1d;
    left: -13px;
    transition: 400ms linear;
    opacity: 0;
    max-height: 0;
    display: block;
    overflow: hidden;
    z-index: 100;
}
.nav__drdw-menu.show{
    opacity: 1;
    max-height: 155px;
}
.nav__drop-text{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 200ms;
}
.nav__drop-text:hover{
    color: #747474 !important;
}