.nav__container{
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
.nav__text-name{
    font-size: 28px;
    font-weight: 600;
}
.nav__text-a{
    font-size: 20px;
    font-weight: 600;
}
.nav__text-a-active{
    font-size: 20px;
    font-weight: 600;
}
.nav__text-a-active:after {
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    background-color: white;
}
.nav__text-a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: white;
    transition: width .4s ease-in-out;
}
.nav__text-a:hover:after,
.nav__text-a:focus:after {
    width: 100%;
}