.header__slider{
    /*max-height: 810px;*/
}
.slider__img{
    animation: slide 10s infinite ease-in-out;
}
@-webkit-keyframes slide {
    0% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0)
    }
    100% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

}

@keyframes slide {
    0% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0)
    }
    100% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.1, 1.1);
    }

}
.slider__control-left,
.slider__control-right{
    transition: 400ms;
}
.slider__control-right:hover{
    background: linear-gradient(90deg,#ffffff00, rgba(0, 0, 0, 0.30));
}
.slider__control-left:hover{
    background: linear-gradient(-90deg,#ffffff00, rgba(0, 0, 0, 0.30));
}
.slider__promo{
    position: absolute;
    right: 0;
    top: 330px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    color: white;
}
.slider__promo h1{
    font-size: 60px;
}
.slider__text-p{
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 1px;
}
.slider__indicators{
    bottom: -70px;
}
.slider__indicator{
    width: 140px !important;
    height: 140px !important;
    border-radius: 100px;
    display: flex;
    overflow: hidden;
    transition: 300ms;
}
.slider__indicator:hover{
    box-shadow: 1px 0 6px 0 #e0e0e0;
}
.slider__indicator img{
    height: inherit;
}
.carousel__inner{
    max-height: 810px;
    transition: 2000ms ease-in-out;
}